/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Open Sans";
  src: url("../font/OpenSans-Regular.eot");
  src: url("../font/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans-Regular.woff") format("woff"), url("../font/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../font/OpenSans-Bold.eot");
  src: url("../font/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans-Bold.woff") format("woff"), url("../font/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
html {
  font-size: 16px;
}

body {
  color: #22232B;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background: #e6ebef;
}

.container {
  max-width: 1860px;
  margin: 0 auto;
  padding: 0 90px;
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 60px;
  height: 100vh;
  background: #22232B;
}
.sidebar__logo {
  flex-basis: 100px;
}
.sidebar-logo__image {
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sidebar__items {
  width: 60px;
  height: calc(100vh - 100px);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.sidebar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  border-radius: 3px;
}
.sidebar__item_menu {
  background: transparent;
}
.sidebar__item_menu:hover {
  background: #af3373 !important;
}
.sidebar__item:hover {
  position: relative;
  left: 5px;
  background: #20a8d8;
}
.sidebar__item:hover .sidebar__icon {
  position: relative;
  left: -5px;
  background: #20a8d8;
}
.sidebar__item:hover .sidebar__icon_menu {
  background: #af3373 !important;
}
.sidebar__item:hover .sidebar-icon__image {
  fill: #fff;
}
.sidebar__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #2a2c36;
  border-radius: 50%;
}
.sidebar__icon_menu {
  background: transparent;
}
.sidebar-icon__image {
  fill: #bdcdd6;
  height: 17px;
  width: 17px;
}
.sidebar-icon__image_menu {
  width: 30px;
  height: 30px;
  fill: #fff;
}

.main {
  position: relative;
  left: 60px;
  width: calc(100% - 60px);
}

.content {
  margin-top: 140px;
}
.content__inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}
.content__item_price {
  display: flex;
  align-items: center;
}
.content__block {
  background: #fff;
}

.conf {
  padding: 34px 70px 36px 40px;
  background: #fff;
  border-radius: 20px;
}
.conf__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 22px;
}
.conf__row {
  display: flex;
  gap: 50px;
  margin-bottom: 32px;
}
.conf__row_m-21 {
  margin-bottom: 21px;
}
.conf__item {
  flex-basis: 490px;
  width: 100%;
  display: flex;
  gap: 20px;
}
.conf__item_cpu {
  flex-basis: 1030px;
}
.conf__item_ip {
  align-items: center;
}
.conf-param {
  max-width: 434px;
  width: 100%;
}
.conf-param_cpu {
  max-width: 974px;
}
.conf-param__body {
  position: relative;
  margin-bottom: 11px;
}
.conf-param__body_priceless {
  margin-bottom: 0;
}
.conf-param__label {
  position: absolute;
  top: -10px;
  left: 15px;
  padding: 0 8px;
  background: #fff;
  font-size: 11px;
}
.conf-param__label_info {
  display: flex;
  gap: 3px;
}
.conf-param__select {
  width: 100%;
  padding: 9px 34px 9px 17px;
  line-height: 18px;
  font-weight: 700;
  border: 1px solid #bdcdd6;
  border-radius: 7px;
  outline: none;
  background: #fff url(../img/icons/arrow.svg) no-repeat right 17px center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.conf-param__price {
  font-weight: 700;
  border-bottom: 1px dashed #20a8d8;
}
.conf__desc {
  color: #3e515b;
  font-size: 14px;
  margin: 20px 0 32px;
}
.conf__desc_ip {
  max-width: 322px;
  margin: 0;
}
.conf__desc_price {
  max-width: 404px;
  font-size: 13px;
  margin: 0;
}
.conf__price {
  text-wrap: nowrap;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 5px;
}
.conf__price span {
  font-size: 16px;
  font-weight: 400;
}
.conf__price_total {
  margin-right: 40px;
}

.icon {
  min-width: 36px;
  max-width: 36px;
  height: 36px;
}
.icon_ip {
  min-width: 26px;
  max-width: 26px;
}
.icon_info {
  position: relative;
  top: -3px;
  min-width: 16px;
  max-width: 16px;
  height: 16px;
}
.icon_social {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 59px;
  max-width: 59px;
  height: 59px;
  background: #edeff4;
  border-radius: 10px;
}
.icon__image {
  fill: #20a8d8 !important;
  width: 36px;
  height: 36px;
}
.icon__image_info {
  width: 16px;
  height: 16px;
}
.icon__image_ip {
  width: 26px;
  height: 36px;
}
.icon__image_social {
  width: 30px;
  height: 30px;
  fill: #9D9FA7 !important;
}

.button {
  max-width: 332px;
  width: 100%;
  padding: 13px 0px;
  font-size: 14px;
  font-weight: 700;
  border: 2px solid #20a8d8;
  border-radius: 10px;
}
.button_add-cart {
  color: #fff;
  margin-right: 20px;
  background: #20a8d8;
}
.button_add-disk {
  width: auto;
  margin: 0 0 32px;
  color: #20a8d8;
  font-size: 13px;
  font-weight: 700;
  padding: 0;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #20a8d8;
}

.footer {
  background: #fff;
}
.footer__inner {
  padding: 80px 0px;
}
.footer__item:hover .icon__image_social {
  fill: #fff !important;
}
.footer__item:hover .icon_social {
  background: #20a8d8;
}
.footer__right {
  display: block;
  color: #3e515b;
  font-size: 18px;
  margin-bottom: 43px;
}
.footer__menu {
  margin-bottom: 46px;
}
.footer__items {
  display: flex;
  gap: 20px;
}
.footer__items_social {
  gap: 11px;
}
.footer__link {
  color: #22232B;
}

@media (max-width: 1920px) {
  .container {
    max-width: 1720px;
    padding: 0 20px;
  }
}
@media (max-width: 1240px) {
  .conf {
    padding: 34px;
  }
  .conf__row {
    gap: 25px;
  }
  .conf__item {
    gap: 10px;
  }
}
@media (max-width: 901px) {
  .conf {
    padding: 20px;
  }
  .conf__row {
    flex-wrap: wrap;
  }
  .conf__item {
    flex-basis: calc((100% - 25px) / 2);
  }
  .conf__price_total {
    margin-right: 0;
  }
  .conf__desc_price {
    max-width: 100%;
  }
  .content__item_price {
    flex-wrap: wrap;
    gap: 20px;
  }
  .button_add-cart {
    margin-right: 0;
  }
  .footer__items {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .conf__item {
    flex-basis: 100%;
  }
  .conf-param {
    max-width: 628px;
  }
}
@media (max-width: 480px) {
  .content__item_price {
    justify-content: center;
  }
  .button__add_server {
    align-self: center;
  }
  .footer {
    text-align: center;
  }
  .footer__inner {
    padding: 40px 0;
  }
  .footer__items {
    justify-content: center;
  }
  .sidebar {
    left: -60px;
  }
  .main {
    left: 0;
    width: 100vw;
  }
}