.button {
    max-width: 332px;
    width: 100%;
    padding: 13px 0px;

    font-size: 14px;
    font-weight: 700;

    border: 2px solid #20a8d8;
    border-radius: 10px;

    &_add {
        &-cart {
            color: #fff;
            margin-right: 20px;
            background: #20a8d8;
        }

        &-disk {
            width: auto;
            margin: 0 0 32px;

            color: #20a8d8;
            font-size: 13px;
            font-weight: 700;
            padding: 0;
            border: none;
            border-radius: 0px;

            border-bottom: 1px solid #20a8d8;
        }
    }
}
