.footer {
    background: #fff;
    &__inner {
        padding: 80px 0px;
    }

    &__item {
        &:hover .icon__image_social {
            fill: #fff !important;
        }

        &:hover .icon_social {
            background: #20a8d8;
        }
    }

    &__right {
        display: block;
        color: #3e515b;
        font-size: 18px;
        margin-bottom: 43px;
    }

    &__menu {
        margin-bottom: 46px;
    }

    &__items {
        display: flex;
        gap: 20px;

        &_social {
            gap: 11px;
        }
    }

    &__link {
        color: #22232B;
    }
}